@import 'mixin.scss';
body{
  background: url('http://all4desktop.com/data_images/original/4222091-hd-desktop-blue.jpg')no-repeat  fixed;
  background-size: cover;
  font-family: Microsoft JhengHei;
}
