.cursor-potion{
  cursor: pointer;
}
.w-30{
  width: 30%;
}
.outline-white{
      outline: 0.2em solid white;
}
.mt-9{
  margin-top:9em;
}
.bg-dark-orange{
  background-color: #dc7116;
}
.mt-7{
  margin-top:7em;
}