
@import 'all.scss';
input{
  border-style: none;
  border: 0.1em solid white;
  height: 3em;
}

// .card{
//   border: 0.6em solid #57c1e8;
// }
.return-btn{
  position: absolute;
  z-index: 2;
  top:0.2em;
  right: 0.2em;
}
body{
  background-color: #5aa6f217;
}