@import 'all.scss';
.select-group {
  &::before,&::after{
    background-color: #ffb271;
  color:black;
    width: 8em;
  } 
  &::before {
    content: '加入站點';
    left: 4.7em;
  }
  &::after {
    content: '移除站點'; 
    right: 4.7em;
  }
}
.input-group-text,.modal-input{
  border-radius: unset;
  background-color: #161e2675!important;
  border-color: #ffb271;
}
.number-title{
  border-top-left-radius: .25em;
}   
.number{
  border-top-right-radius: .25em;
}
.nurse-name-title{
  border-bottom-left-radius: .25em;
}
.nurse-name{
  border-bottom-right-radius: .25em;
}

.add-select-area,.remove-select-area{
  border: 0.2em solid #ffb271;
}
.return{
  position: absolute;
  z-index: 10;
  right: 1em;
  bottom: 1em;
}
.btn-area{
  button{
    border-radius: unset;
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
  }

}