@import 'all.scss';

.input-name{
  outline: 0.2em solid;
}
.input{
  border-style: none;
  outline: 0.2em solid white;
}
ul{
  li {
    float: left;
  }
  a{
    padding: 2em;
    margin: 2em;
  }
}
