@import 'all.scss';
.hero{
    background: url('http://all4desktop.com/data_images/original/4222091-hd-desktop-blue.jpg')no-repeat  fixed;
  background-size: cover;
  display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.input-name{
  outline: 0.2em solid;
}
.input-add{
  border-style: none;
  outline: 0.2em solid white;
}
ul{
  li {
    float: left;
  }
  a{
    padding: 2em;
    margin: 2em;
  }
}
.link-group{
  max-width: 70%;
}

.nurse-btn{
  position: absalute;
}