<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../../build/include/pnotify.custom.min.css">

  <link rel="stylesheet" href="../../build/css/site-add.css">
</head>

<body>
  <div class="container w-100">
    <div class="row hero h-50 pb-4 pt-6">
      <div class="logo w-100 text-center mb-4">
        <i class="fas fa-hospital text-orange-i font-6 text-shadow-gray"></i>
      </div>
      <div class="input-group mx-auto d-flex flex-column w-30">
        <span class="input-name text-white text-center pt-2 pb-2 font-weight-bold">請新增站點名稱</span>
        <input class="input-add p-3" type="text">
      </div>
    </div>

    <div class="row d-flex justify-content-center ">
      <!-- <div class="col-lg-4 col-md-12">
        <div class="penel text-center">
          <a class="text-white bg-dark-orange" href="nurse-add.html">新增護士</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="penel text-center">
          <a class="text-white bg-dark-orange" href="site-list.html">站點列表</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="penel text-center">
          <a class="text-white bg-dark-orange" href="nurse-list.html">護士列表</a>
        </div>
      </div> -->
      <div class="table-area"></div>
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <div class="input-group-prepend site-name-area">
                <span class="input-group-text" id="basic-addon1">站點名稱</span>
                <input type="text" class="site-name" disabled="disabled">
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <ul class="nav d-flex justify-content-center mt-7">
    <li>
      <a class="text-white bg-dark-orange" href="nurse-add.html">新增護士</a>
    </li>
    <li>
      <a class="text-white bg-dark-orange" href="site-list.html">站點列表</a>
    </li>
    <li>
      <a class="text-white bg-dark-orange" href="nurse-list.html">護士列表</a>
    </li>
  </ul> -->



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="../../build/include/pnotify.custom.min.js"></script>
  <script src="../../build/js/share.js"></script>
  <script src="../../build/js/site-add.js"></script>
</body>

</html>